<!DOCTYPE.html><html>
<head>
  <title> Slacker News</title>
  <link rel="stylesheet" href="home.css" />
</head>
<body>
<form name="form" action="/articles" method="post" onsubmit="return validateForm()">
  <label for="article_title">Article Title</label>
  <input type="text" id="article_title" name="article_title" /></br>
  <label for="URL">URL</label>
  <input type="text" id="URL" name="URL" /></br>
  <label for="description">Description</label>
  <input type="text" id="description" name="description" style="width: 200px; height: 200px"/>
  <input type="submit" />
</form>
<script> function validateForm() {
  var form = document.forms["form"]
  if (form["article_title"].value == "" || form["URL"].value == "" || form["description"].value == "") {
    alert("Please fill out all fields");
    return false;
  }
  else if (form["description"].value.length >= 20) {
    alert("Description can be no longer than 20 characters");
    return false;
  }

}
</script>

</body>
</html>
